<a href="https://colab.research.google.com/github/yeijSong/HandsOnDataAnalysis/blob/main/class/09_%ED%83%80%EC%8A%88_%EC%A7%80%EB%8F%84_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

라이브러리 불러오기

In [1]:
import pandas as pd
import folium

In [2]:
#코랩에서 제공하는 Folium 버전 확인
folium.__version__

'0.8.3'

지도 그리기

In [ ]:
map = folium.Map(location=[36.351, 127.386])
map

zoom을 이용하여 지도 확대?

In [ ]:
map = folium.Map(location=[36.351, 127.386], zoom_start=12)
map

지도 스타일(tiles 옵션)


1. OpenStreetMap,
2. Stamen Terrain(featuring hill shading and natural vegetation colors),
3. Stamen Toner(high-contrast B+W (black and white))

In [ ]:
map = folium.Map(location=[36.351, 127.386], zoom_start=12, tiles='OpenStreetMap') # tiles의 디폴트는 OpenStreetMap이므로 동일하게 보임
map

In [ ]:
map = folium.Map(location=[36.351, 127.386], zoom_start=12, tiles='Stamen Toner')
map

In [ ]:
map = folium.Map(location=[36.351, 127.386], zoom_start=12, tiles='Stamen Terrain')
map

### 타슈 데이터 시각화

지도 그리기

In [ ]:
map = folium.Map(location=[36.351, 127.386], zoom_start=12)
map

데이터 가져오기

In [12]:
df = pd.read_csv('TASHU.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  262 non-null    int64
 1   스테이션명       262 non-null    object
 2   위치          262 non-null    object
 3   상태정보        262 non-null    object
 4   위도          262 non-null    float64
 5   경도          262 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 12.4+ KB

In [13]:
df.head(3)

   Unnamed: 0           스테이션명              위치 상태정보         위도          경도
0           0  무역전시관입구(택시승강장)    유성구 도룡동 3-8    정상  36.374580  127.386131
1           1         대전컨벤션센터   유성구 도룡동 4-19    정상  36.374389  127.392375
2           2          한밭수목원1     서구 만년동 396    정상  36.368995  127.388451

In [14]:
df.tail(3)

     Unnamed: 0             스테이션명              위치 상태정보         위도          경도
259         259       오정농수산물 도매시장   대덕구 오정동 45-1    정상  36.357693  127.407763
260         260  도로교통공단(건너편 라도무스)   유성구 원신흥동 608    정상  36.332692  127.333128
261         261             반석 더샵    유성구 반석동 704    정상  36.390096  127.305095

지도에 Markers를 이용한 타슈 위치 표시하기

In [15]:
# 대전 중심에 map열기
map = folium.Map(location=[36.351, 127.386], zoom_start=14)

# 타슈의 상태에 따라서 Marker를 다른 색으로 표시하기
detail_location = df.위치
condition = df.상태정보

for index_draw in range(1,len(condition)) :

  if condition[index_draw] == '정상' :
    folium.Marker([df.loc[index_draw, '위도'], df.loc[index_draw, '경도']],
                  popup = '정상',
                  icon = folium.Icon(color='blue', icon='info-sign')).add_to(map)
  elif condition[index_draw] == 'Network 에러' :
    folium.Marker([df.loc[index_draw, '위도'], df.loc[index_draw, '경도']],
                  popup = '네트워크 에러',
                  icon = folium.Icon(color='red', icon='info-sign')).add_to(map)
  else:
    folium.Marker([df.loc[index_draw, '위도'], df.loc[index_draw, '경도']],
                  popup = '집',
                  icon = folium.Icon(color='green', icon='info-sign')).add_to(map)

In [ ]:
map