<a href="https://colab.research.google.com/github/yeijSong/HandsOnDataAnalysis/blob/main/class/10_Folium_%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%AC%EB%A5%BC_%ED%99%9C%EC%9A%A9%ED%95%9C_%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 세종시 공공자전거 어울링 데이터 분석

자전거 대여소 공공데이터 준비하기

In [1]:
# 1) pandas선언
import pandas as pd

# 2) csv파일 불러오기
df = pd.read_csv('/content/세종특별자치시_공영자전거 어울링 대여소_20200915.csv', encoding='cp949')
df.head()

   STATION_ID STATION_NM  AREA  GU  ... ADDR2 LOCKER      Y_POS       X_POS
0           1    첫마을 1단지  1생활권  세종  ...   NaN     13  36.482114  127.259628
1           2    첫마을 3단지  1생활권  세종  ...   NaN     15  36.479850  127.260513
2           3   첫마을  4단지  1생활권  세종  ...   NaN     15  36.480436  127.253314
3           4   LH세종특별본부  2생활권  세종  ...   NaN     15  36.495484  127.266063
4           5   한솔동 주민센터  1생활권  세종  ...   NaN     14  36.478979  127.255524

[5 rows x 10 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STATION_ID  72 non-null     int64
 1   STATION_NM  72 non-null     object
 2   AREA        72 non-null     object
 3   GU          72 non-null     object
 4   DONG        72 non-null     object
 5   ADDR1       72 non-null     object
 6   ADDR2       0 non-null      float64
 7   LOCKER      72 non-null     int64
 8   Y_POS       72 non-null     float64
 9   X_POS       72 non-null     float64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.8+ KB

지도에 표시할 대여소 정보 추출

In [3]:
df_route = df.loc[:,['STATION_NM', 'AREA', 'Y_POS','X_POS']]
df_route.head(2)

  STATION_NM  AREA      Y_POS       X_POS
0    첫마을 1단지  1생활권  36.482114  127.259628
1    첫마을 3단지  1생활권  36.479850  127.260513

자전거 대여소 Marker활용하여 지도 표출

In [ ]:
# 지도에 표시하기 위해 folium 라이브러리
import folium

map = folium.Map(location=[df_route['Y_POS'].mean(),
                           df_route['X_POS'].mean()],
                 zoom_start=11)

for n in df_route.index :
  folium.Marker([df_route.loc[n,'Y_POS'], # .loc[행,열]
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='green', icon = 'fa-bicycle', prefix='fa')).add_to(map)
map

In [ ]:
import folium

map = folium.Map(location=[df_route['Y_POS'].mean(),
                           df_route['X_POS'].mean()],
                 zoom_start=11)

for n in df_route.index :

  if df_route.loc[n, 'AREA'] == '1생활권' :
    folium.Marker([df_route.loc[n,'Y_POS'],
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='green', icon = 'fa-bicycle', prefix='fa')).add_to(map)
  
  elif df_route.loc[n, 'AREA'] == '2생활권' :
    folium.Marker([df_route.loc[n,'Y_POS'],
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='orange', icon = 'fa-bicycle', prefix='fa')).add_to(map)

  elif df_route.loc[n, 'AREA'] == '3생활권' :
    folium.Marker([df_route.loc[n,'Y_POS'],
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='blue', icon = 'fa-bicycle', prefix='fa')).add_to(map)

  elif df_route.loc[n, 'AREA'] == '4생활권' :
    folium.Marker([df_route.loc[n,'Y_POS'],
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='purple', icon = 'fa-bicycle', prefix='fa')).add_to(map)
  
  else:
    folium.Marker([df_route.loc[n,'Y_POS'],
                 df_route.loc[n,'X_POS']],
                popup = df_route.loc[n, 'STATION_NM']+' '+df_route.loc[n, 'AREA'],
                icon = folium.Icon(color='pink', icon = 'fa-bicycle', prefix='fa')).add_to(map)

map

코드를 좀 줄여서 나타내보기

In [ ]:
# folium 라이브러리
import folium
map = folium.Map(location=[df_route['Y_POS'].mean(), df_route['X_POS'].mean()],
                           zoom_start = 11)
c = ['green','blue','red','gray']
for n in df_route.index:
    for i in range(0,4):
        if df_route.loc[n, 'AREA'][0] == str(i+1):
            folium.Marker([df_route.loc[n, 'Y_POS'], df_route.loc[n, 'X_POS']], # 위도, 경도
            popup = df_route.loc[n, 'STATION_NM'] + ' ' + df_route.loc[n, 'AREA'],
            icon=folium.Icon(color=c[i], icon='fa-bicycle', prefix='fa')).add_to(map)
            break  
        else:
            folium.Marker([df_route.loc[n, 'Y_POS'], df_route.loc[n, 'X_POS']], # 위도, 경도
            popup = df_route.loc[n, 'STATION_NM'] + ' ' + df_route.loc[n, 'AREA'],
            icon=folium.Icon(color='orange', icon='fa-bicycle', prefix='fa')).add_to(map)
map

### 세종시 가로등 공공데이터 분석

가로등 설치 공공데이터 준비하기

In [20]:
lamp_df = pd.read_csv('/content/세종특별자치시_가로등정보_20190919..csv', encoding='cp949')
lamp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15460 entries, 0 to 15459
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   가로등위치명    15460 non-null  object
 1   설치대수      15460 non-null  int64
 2   소재지도로명주소  2057 non-null   object
 3   소재지지번주소   15460 non-null  object
 4   위도        15460 non-null  float64
 5   경도        15460 non-null  float64
 6   설치년도      0 non-null      float64
 7   설치형태      15459 non-null  object
 8   관리기관전화번호  15460 non-null  object
 9   관리기관명     15460 non-null  object
 10  데이터기준일자   15460 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 1.3+ MB

지도에 표시할 가로등 정보 추출

In [21]:
lamp_route = lamp_df.loc[:,['가로등위치명','위도','경도']]
lamp_route.head(3)

              가로등위치명         위도          경도
0      전동면 노장리 609-9  36.652672  127.268525
1  세종특별자치시 대평동 574-2  36.469947  127.269149
2      전동면 노장리 609-9  36.654752  127.268148

가로등 Marker 활용하여 지도 표출

In [22]:
lamp_route.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15460 entries, 0 to 15459
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가로등위치명  15460 non-null  object
 1   위도      15460 non-null  float64
 2   경도      15460 non-null  float64
dtypes: float64(2), object(1)
memory usage: 362.5+ KB

In [ ]:
# 데이터가 너무 크기 때문에 가로등 정보 100건만 사용하여 지도 표출

for n in lamp_route.index[:100]:
      folium.Marker([lamp_route.loc[n,'위도'],
                     lamp_route.loc[n,'경도']],
                    popup = lamp_route.loc[n, '가로등위치명'],
                    icon = folium.Icon(icon = 'lightbulb-o', prefix='fa')).add_to(map)
map

세종시 CCTV 공공데이터 분석

In [46]:
cctv_df = pd.read_csv('/content/세종특별자치시_CCTV_20210101.csv')
cctv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   관리기관명     1232 non-null   object
 1   소재지도로명주소  413 non-null    object
 2   소재지지번주소   1097 non-null   object
 3   설치목적구분    1232 non-null   object
 4   카메라대수     1232 non-null   int64
 5   카메라화소수    1232 non-null   object
 6   촬영방면정보    1232 non-null   object
 7   보관일수      1232 non-null   int64
 8   관리기관전화번호  1232 non-null   object
 9   위도        1232 non-null   float64
 10  경도        1232 non-null   float64
 11  데이터기준일자   1232 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 115.6+ KB

In [47]:
cctv_df.head(2)

     관리기관명               소재지도로명주소  ...          경도     데이터기준일자
0  세종특별자치시  세종특별자치시 소정면 소정안골1길 89  ...  127.139939  2021-01-01
1  세종특별자치시                    NaN  ...  127.142217  2021-01-01

[2 rows x 12 columns]

In [48]:
cctv_route = cctv_df.loc[:,['카메라화소수','위도','경도']]
cctv_route.head(3)

            카메라화소수         위도          경도
0          200,399  36.711430  127.139939
1      200,200,200  36.713989  127.142217
2  200,200,200,200  36.713731  127.142821

In [ ]:
for n in cctv_route.index[:100]:
      folium.Marker([cctv_route.loc[n,'위도'],
                     cctv_route.loc[n,'경도']],
                    popup = cctv_route.loc[n, '카메라화소수'],
                    icon = folium.Icon(color='gray', icon = 'video-camera', prefix='fa')).add_to(map)
map

In [ ]:
import folium
map2 = folium.Map(location=[cctv_route['위도'].mean(), cctv_route['경도'].mean()],
                           zoom_start = 12)

for n in cctv_route.index[:]:
      folium.Marker([cctv_route.loc[n,'위도'],
                     cctv_route.loc[n,'경도']],
                    popup = cctv_route.loc[n, '카메라화소수'],
                    icon = folium.Icon(color='gray', icon = 'video-camera', prefix='fa')).add_to(map2)
map2